<% layout('layout/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Blog</h1>
        <div class="col-md-6 offset-md-3">

            <form action="/blogs" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name=blog[title] required>
                    <div class="valid-feedback">Nice!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="owner">Location</label>
                    <input class="form-control" type="text" id="owner" name=blog[location] required>
                    <div class="valid-feedback">Nice!</div>
                </div>
                <div class="mb-3">

                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name=blog[image] required>
                    <div class="valid-feedback">Nice!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name=blog[description]
                        required></textarea>
                    <div class="valid-feedback">Nice!</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Blog</button>
                </div>

            </form>
            <a href="/blogs">All Blogs</a>

        </div>
    </div>