<% layout('layout/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mb-5">
        <div class="card" style="width: 40rem;">
            <img src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">About Me</h5>
                <p class="card-text">Hi there! I am Orhan. I am interested in Web Development and here I want to share
                    my experiments to help you to understand how web apps work in the background. I hope you can have
                    ideas about this process. Feel free to share your opinions about blogs. Have good coding. </p>

            </div>
        </div>

    </div>